li {
	color: rgb(200,200,200);
}

body {
	margin-bottom:50px;
}

footer {
	position: absolute;
	height: 50px;
	background-color: red;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

nav {
	background-color: rgb(190,190,220);
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0, 5, 0, 5;
	overflow: hidden;
	background-color: #222;
}

/* Float the list items side by side */
ul.topnav li {float: left;}


/* Style the links inside the list items */
ul.topnav li a {
	display: inline-block;
	color: #e2e2e2;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	transition: 0.1s;
	font-size: 15px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

.container {
	background-color: rgb(200,200,230);
	width: 70%;
}


.undecoratedText {
	text-decoration: none;
}


// Color Classes


.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.black {
	color: black;
}

.darkGreyBackground {
	background-color: #2B2B2B;
}

.lightGreyBackground {
	background-color: #ABABAB;
}

.blackBackground {
	background-color: black;
}
